.experiance__container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 2rem;

}

.experiance__container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;

}

.experiance__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

 .experiance__container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
 }

 .experiance_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;

 }

 .experiance_details {
    display: flex;
    gap: 1rem;
 }

.expriance_details-icon {
    margin-top: 6px;
    color: var(--color-primary);
    
}

/* make media qurery for tablet and phone */
/*MEDIUM DEVICE*/
@media screen and (max-width: 1024px) { 
        .experiance__container {
            grid-template-columns: 1fr;
        }
        .experiance__container > div {
            width: 80%;
            padding: 2rem;
            margin: 0 auto;
        }
        .experiance_content{
            padding: 1rem;

        }
    }
    
    /*  small */
    
    @media screen and (max-width: 600px) { 
        .experiance__container {
           gap: 1rem; 
           width: 100%; 

                     
        }
        .experiance__container > div {
            width: 100%; 
            padding: 2rem 1rem;
        }
        .experiance_content{
            padding: 1rem;
        }
    }
    